DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_db_password
DB_NAME=cat

SECRET_KEY=your_app_secret_key
DEBUG=False

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1

JWT_SECRET_KEY=your_jwt_secret_key
JWT_EXPIRATION_HOURS=24
